.button1{
    background-color: royalblue;
    border: none;
    margin-top: 100px;
    margin-left: 100px;
    padding: 15px 30px;
    color:white;
    font-size: 18px;
    border-radius: 10px;
}

.button2{
    background-color: royalblue;
    border: none;
    margin-top: 100px;
    margin-left: 100px;
    padding: 15px 30px;
    color: #ffffff;
    font-size: 18px;
    border-radius: 10px;
}
.button2:hover {
    box-shadow: 10px 5px 5px gray;
    cursor: pointer;
}